*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}

html { 
    background: url(Images/bg3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


body{
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background: url(Images/My\ project.png);
    background-size: cover;
    background-position: centre;

}
.logo{
    width: 75px;
    color:rebeccapurple;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style : none;
    margin: 10px 20px;
}

nav ul li a{
    color: #f9c550;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom:-6px; 
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 15%;
    font-size: 35px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
/* ----------------------------------------------------------- */
#about{
    padding: 90px 0;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;    
}

.about-col-1 img{
    width: 75%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight:600;
    color: white;
    text-align: center;
    
}
.tab-titles{
    display: flex;
    margin: -10px 0 -20px;
}
.tab-links{
    margin: 50px;
    font-size: 18px;
    font-weight:500 ;
    cursor:pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
     
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;

}
.tab-contents ul li span{
    color:#f9c550;
    font-size: 14px;
}
.tab-contents{
    display:none ;
}
.tab-contents.active-tab{
    display:block;

}
/* _________________________________________________________________ */
#services{
    padding: 150px 0 ;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;

}

.services-list div{
     background-color: black;
     padding:40px;
     font-size:13px;
     font-weight:300;
     border-right: 10px;
     border-radius: 10px;
     transition:background 0.5s,transform 0.5s ;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top:20px;
    display: inline-block;
}
.services-list div:hover{
    background: #9e7703;
    transform:translateY(-10px);
    color: black;
}
/* ______________________________________________________________________ */
#portfolio{
    padding: 70px 3%;
    transition: 0.3s;
}

.service-content2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}

.row2{
    /* background: #ffffff; */
    box-shadow: 18px 0px 87px 0px rgba(255, 255, 255, 0.041);
    border-radius: 12px;
    padding: 15px 15px 15px 15px;
    transition: ease .45s;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.row2 h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}

.row2 p{
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
}

.row2:hover{
    will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.15,1.15,1.15);
}

.s2 i{
    height: 65px;
    width: 65px;
    background: #ffffff11;
    padding: 15px;
    font-size: 35px;
    border-radius: 50%;
    margin-bottom: 20px;
}